[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logzero = "*"
pybit = "*"

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.9"
